In [1]:
import numpy as np 
import pandas as pd

In [2]:
s = pd.Series([1,2,3,np.nan,5])

In [3]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [6]:
dates = pd.date_range('20200101', periods=5)

In [7]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(5,4),index=dates,columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2020-01-01 -0.925343  1.672629 -0.351523 -0.479151
2020-01-02  1.286727  0.188307 -0.685190  0.426055
2020-01-03  1.759837  0.694037  0.849858  0.935815
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924
2020-01-05  0.890376  0.075615 -0.085382  0.919000

In [13]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head()

                   A         B         C         D
2020-01-01 -0.925343  1.672629 -0.351523 -0.479151
2020-01-02  1.286727  0.188307 -0.685190  0.426055
2020-01-03  1.759837  0.694037  0.849858  0.935815
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924
2020-01-05  0.890376  0.075615 -0.085382  0.919000

In [17]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.to_numpy()

array([[-0.92534292,  1.6726285 , -0.35152277, -0.47915074],
       [ 1.28672696,  0.18830651, -0.68518985,  0.42605521],
       [ 1.75983728,  0.69403691,  0.84985822,  0.93581469],
       [-0.46699064, -0.77683143, -0.00646401,  0.45792409],
       [ 0.89037595,  0.07561544, -0.08538206,  0.91900002]])

In [22]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [23]:
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean   0.508921  0.370751 -0.055740  0.451929
std    1.153776  0.899546  0.571644  0.574438
min   -0.925343 -0.776831 -0.685190 -0.479151
25%   -0.466991  0.075615 -0.351523  0.426055
50%    0.890376  0.188307 -0.085382  0.457924
75%    1.286727  0.694037 -0.006464  0.919000
max    1.759837  1.672629  0.849858  0.935815

In [37]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01 -0.479151 -0.351523  1.672629 -0.925343
2020-01-02  0.426055 -0.685190  0.188307  1.286727
2020-01-03  0.935815  0.849858  0.694037  1.759837
2020-01-04  0.457924 -0.006464 -0.776831 -0.466991
2020-01-05  0.919000 -0.085382  0.075615  0.890376

In [45]:
df.sort_values(by='B',ascending=True)

                   A         B         C         D
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924
2020-01-05  0.890376  0.075615 -0.085382  0.919000
2020-01-02  1.286727  0.188307 -0.685190  0.426055
2020-01-03  1.759837  0.694037  0.849858  0.935815
2020-01-01 -0.925343  1.672629 -0.351523 -0.479151

In [56]:
df[1:3]

                   A         B         C         D
2020-01-02  1.286727  0.188307 -0.685190  0.426055
2020-01-03  1.759837  0.694037  0.849858  0.935815

In [65]:
df.loc['2020-01-02':'2020-01-04',['A']]

                   A
2020-01-02  1.286727
2020-01-03  1.759837
2020-01-04 -0.466991

In [69]:
df.iloc[:,2:4]

                   C         D
2020-01-01 -0.351523 -0.479151
2020-01-02 -0.685190  0.426055
2020-01-03  0.849858  0.935815
2020-01-04 -0.006464  0.457924
2020-01-05 -0.085382  0.919000

In [74]:
df[df.B < 0]

                   A         B         C         D
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924

In [91]:
s = pd.Series([2,4,6,8,10],index=pd.date_range('20200101',periods=5))

In [92]:
s

2020-01-01     2
2020-01-02     4
2020-01-03     6
2020-01-04     8
2020-01-05    10
Freq: D, dtype: int64

In [96]:
df['E']=s

In [97]:
df

                   A         B         C         D   E
2020-01-01 -0.925343  1.672629 -0.351523 -0.479151   2
2020-01-02  1.286727  0.188307 -0.685190  0.426055   4
2020-01-03  1.759837  0.694037  0.849858  0.935815   6
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924   8
2020-01-05  0.890376  0.075615 -0.085382  0.919000  10

In [98]:
df.at['2020-01-01','A']=0

In [99]:
df

                   A         B         C         D   E
2020-01-01  0.000000  1.672629 -0.351523 -0.479151   2
2020-01-02  1.286727  0.188307 -0.685190  0.426055   4
2020-01-03  1.759837  0.694037  0.849858  0.935815   6
2020-01-04 -0.466991 -0.776831 -0.006464  0.457924   8
2020-01-05  0.890376  0.075615 -0.085382  0.919000  10

In [108]:
df.iat[2,3] = 3

In [110]:
df2 = df.copy()

In [118]:
df2[df2 < 1] = 1

In [119]:
df2

              A    B    C    D  E
2020-01-01  1.0  1.0  1.0  1.0  1
2020-01-02  1.0  1.0  1.0  1.0  1
2020-01-03  1.0  1.0  1.0  1.0  1
2020-01-04  1.0  1.0  1.0  1.0  1
2020-01-05  1.0  1.0  1.0  1.0  1

In [121]:
df['A']=np.nan

In [122]:
df

             A         B         C         D   E
2020-01-01 NaN  1.672629 -0.351523 -0.479151   2
2020-01-02 NaN  0.188307 -0.685190  0.426055   4
2020-01-03 NaN  0.694037  0.849858  3.000000   6
2020-01-04 NaN -0.776831 -0.006464  0.457924   8
2020-01-05 NaN  0.075615 -0.085382  0.919000  10

In [128]:
df['A']=np.random.randn(5)

In [129]:
df

                   A         B         C         D   E
2020-01-01  0.657923  1.672629 -0.351523 -0.479151   2
2020-01-02  0.461393  0.188307 -0.685190  0.426055   4
2020-01-03 -0.834097  0.694037  0.849858  3.000000   6
2020-01-04  0.881441 -0.776831 -0.006464  0.457924   8
2020-01-05  0.222277  0.075615 -0.085382  0.919000  10

In [130]:
df2['A']=np.nan

In [131]:
df2

             A    B    C    D  E
2020-01-01 NaN  1.0  1.0  1.0  1
2020-01-02 NaN  1.0  1.0  1.0  1
2020-01-03 NaN  1.0  1.0  1.0  1
2020-01-04 NaN  1.0  1.0  1.0  1
2020-01-05 NaN  1.0  1.0  1.0  1

In [134]:
df2 = df.copy()

In [137]:
df['2020-01-01']=np.nan

In [138]:
df.drop(['2020-01-01'])

                   A         B         C         D   E  2020-01-01
2020-01-01  0.657923  1.672629 -0.351523 -0.479151   2         NaN
2020-01-02  0.461393  0.188307 -0.685190  0.426055   4         NaN
2020-01-03 -0.834097  0.694037  0.849858  3.000000   6         NaN
2020-01-04  0.881441 -0.776831 -0.006464  0.457924   8         NaN
2020-01-05  0.222277  0.075615 -0.085382  0.919000  10         NaN